.input-block {
  display: flex;
  flex-direction: column;
  min-width: 200px;
}

.input {
  border-bottom: 2px solid rgba(0, 0, 255, 0.5);
}

.input:focus {
  outline: none;
}

.invalid input {
  border-bottom: 2px solid rgba(255, 0, 0, 0.5);
}

.validation-field {
  min-height: 20px;
  min-width: 150px;
  font-size: 0.8em;
  color: rgb(255, 0, 0);
  visibility: hidden;
  order: 1;
}

.invalid .validation-field{
  visibility: visible;
}

.checkbox {
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 10px;
}

.checkbox .label{
  order: 1;
}

.checkbox .input{
  width: inherit;
}