body {
  overflow-y: scroll;
}

#root {
  background-color: rgb(241, 245, 249);
  min-height: 100vh;
}

.nav-link {
  display: block;
  padding: 0.5rem 1rem; 
  border-radius: 0.25rem;
  background-color: rgb(61, 71, 85);
  color: white;
}

.nav-link.active {
  background-color: blue;
  font-weight: bold;
}

.search {
  border-radius: 0.5rem;
  border: 3px solid blue;
}

.search:focus {
    box-shadow: 0 0 10px rgb(61, 71, 85);
    outline: none;
}

.card {
  position: relative;
  transition: 0.2s;
  cursor: pointer;
}

.card::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.3);
  left: 0;
  top: 0;
  border-radius: 0.4rem;
  transition: opacity 0.6s;
  opacity: 0;
}

.card:hover::after {
  opacity: 1;
}