.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  padding: 1rem 2.5rem;
}

.nav-link {
  display: block;
  padding: 0.5rem 1rem; 
  border-radius: 0.25rem;
  background-color: rgb(61, 71, 85);
  color: white;
}

.nav-link.active {
  background-color: blue;
  font-weight: bold;
}

@media screen and (max-width: 667px) {
  .header {
    flex-direction: column;
    justify-content: center;
  }
}